<h3><%= @dragon.name%></h3>
<p>Color: <%= @dragon.color %> </p>
<p>Breed: <%= @dragon.breed %> </p>
<p>Personality: <%= @dragon.personality%> </p>
<p>Treasure: <%= @dragon.treasure %> </p>

<a href="/dragons/<%= @dragon.id %>/edit" class="btn">Edit</a> &nbsp;

<form action="/dragons/<%=@dragon.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Dragon" class="btn red darken-7">
</form>