<h3><%= @dragon.name%></h3>
<p>Color: <%= @dragon.color %> </p>
<p>Breed: <%= @dragon.breed %> </p>
<p>Personality: <%= @dragon.personality%> </p>
<p>Treasure: <%= @dragon.treasure %> </p>

<a href="/dragons/<%= @dragon.id %>/edit">Edit</a>